<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modalCreate">
    <div class="modal fade" id="modalCreateCustomer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal add new customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>

                    <form action="" id="frmCreate">
                        <div class="row">
                            <div class="col-lg-6 mt-3">
                                <label for="fullNameCre">Full name</label>
                                <input type="text" class="form-control" id="fullNameCre" name="fullNameCre">
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label for="emailCre">Email</label>
                                <input type="email" class="form-control" id="emailCre" name="emailCre">
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label for="phoneCre">Phone</label>
                                <input type="tel" class="form-control" id="phoneCre" name="phoneCre">
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label for="addressCre">Address</label>
                                <input type="text" class="form-control" id="addressCre" name="addressCre">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreate">Create</button>
                </div>
            </div>
        </div>
    </div>
</th:block>